@charset "utf-8";
/*easyui扩展样式*/
/*水电集团主题样式======================start*/
/*datagrid分页------------start*/
.datagrid-pager.pagination>table,
.datagrid-pager.pagination>.pagination-info {
	float: right;
	color: #999999;
	line-height: 40px;
}
/*datagrid分页/toolbar背景颜色*/

.datagrid .datagrid-pager {
	background: #F5F6FA;
	border:solid #DCDCDC;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 0;
	border-top: 1px solid #ddd;
}
/*datagrid分页字体颜色*/
.pagination-page-list, .pagination .pagination-num {
	color:#999999;
	height: 24px;
}

/*datagrid页数输入框大小*/
.pagination .pagination-num{
	width: 33px;
	text-align: center;
}

.pagination-btn-separator {
	border-right: 1px solid #F5F6FA;
}

/*分页icon颜色*/
.pagination-link{
	background-color: #F0f0f0;
	color: #999999;
	border-radius: 0;
	border:1px solid #DCDCDC;
}

/*去掉分页中非数字按钮边框、背景色*/
.pagination .pagination-link.l-btn-plain {
	border: 1px solid #ddd;
	border-left: none;
	background: #f0f0f0;
	padding: 0 5px;
}

/*分页链接的左边框和hover状态的边框颜色*/
.pagination .pagination-link.l-btn-plain:first-child {
	border-left: 1px solid #ddd;
}
.pagination .pagination-link.l-btn-plain:first-child.l-btn-plain-selected {
	border-left: 0;
}
.pagination .l-btn-plain {
	border-width: 1px;
	border-color: transparent;
	background: none;
	padding: 2px 0;
}
.pagination .l-btn-text {
	line-height: 23px;
}

/*分页数字按钮hover样式*/
.pagination .l-btn-plain:hover {
	padding: 2px 0;
	border-color: transparent;
}

.pagination .pagination-link.l-btn-plain:hover,
.pagination .pagination-link.l-btn-plain-selected {
	background: #407DD1;
	border-color: #407DD1;
	padding: 0 5px;
}

/*分页链接数选择和hover时的背景颜色*/
.l-btn-selected,
.l-btn-selected:hover {
	background: #407DD1;
	border: 1px solid #407DD1;
}

/*分页选中条数、hover时的字体颜色*/
.pagination .pagination-link.l-btn-plain:hover .l-btn-text,
.pagination .pagination-link.l-btn-plain-selected .l-btn-text,
.l-btn-plain-selected {
	color: #fff;
}
/*datagrid分页----------end*/



/*按钮样式重定义====================start*/
.l-btn {
	width: auto;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
	color: #3c3c3c;
	border: 1px solid #ddd;
	background: #f0f0f0;
	box-shadow: none;
	cursor: pointer;
	padding: 0 15px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.l-btn:hover{
	border-radius:0;
	padding: 0 15px;
	/* border: 1px solid #4b72a4; */
}
.l-btn-text {
	height: 28px;
	line-height: 28px;
}
.datagrid-pager .l-btn-left {
	height: 24px;
}
.pagination-links .l-btn {
	height: 24px;
	line-height: 24px;
}
.datagrid-pager .dg-checkAllDiv a {
	height: 28px;
	margin-top: -1px;
}
.datagrid-pager.pagination .dg-checkAllDiv .l-btn-left {
	height: 100%;
}
.datagrid-pager.pagination .dg-checkAllDiv .l-btn-text {
	line-height: 26px;
}

a.easyui-linkbutton:active {
	background: #fff;
    -moz-box-shadow: 1px 1px 1px #999999 inset;
    -webkit-box-shadow: 1px 1px 1px #999999 inset;
	box-shadow: 1px 1px 1px #999999 inset;
	outline: none;
}
a.easyui-linkbutton:visited {
	outline: none;
}
a.c8:hover,
a.easyui-linkbutton:hover,
a.easyui-linkbutton.active:hover {
	background: #fff;
	color: #404040;
	border: 1px solid #ccc;
}
a.c8:focus,
a.c8:visited,
a.c8.active,
a.easyui-linkbutton.active {
	/* background: #407DD1;
	border-color: #407DD1;
	color: #fff !important; */
	background: #eee;
    color: #404040;
	border: 1px solid #ccc;
	outline: none;
}
/* 只显示图标的按钮 */
.easyui-linkbutton.icon-btn.l-btn {
	width: 30px;
	height: 29px;
	padding: 0;
}

.easyui-linkbutton.icon-btn .l-btn-empty {
	margin: 0;
}

.easyui-linkbutton.icon-btn .iconfont {
	display: inline-block;
	left: 2px;
	font-size: 14px;
}
/*按钮样式重定义====================end*/

/* 表头配置按钮样式 ----------start */
.btn_config_cols {
	display: inline-block;
	margin-right: 5px;
}
.btn_config_cols:after {
	content: '';
    display: table;
    clear: both;
}
.searchItem .btn_config_cols {
	position: absolute;
	top: 5px;
	right: 0;
	margin-right: 0;
}
.panel-header.dg-header .btn_config_cols {
    float: right;
    margin-top: -7px;
    margin-right: 0px;
}
.btn_config_cols .setting {
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}
.btn_config_cols .l-btn {
	padding: 0;
    border: 1px solid #DCDCDC;
}
.breadCrumb .btn_config_cols .l-btn {
    height: 29px;
    line-height: 29px;
}
.btn_config_cols.l-btn:hover {
	background: #fff;
}
.btn_config_cols .l-btn-left .l-btn-text {
	margin: 0;
}
.btn_config_cols .m-btn-downarrow {
	background: none;
	width: 0;
}
/* 表头配置按钮样式 ----------end */


/*datagrid  toolbar样式（兼容修改现有未改toolbar的样式）---------------start*/
/*toolbar下面的按钮字体加粗重写*/
.panel-title .easyui-linkbutton {
	font-weight: 400;
}

.panel-body.datagrid-toolbar {
	text-align: left;
}
.datagrid-toolbar {
	padding: 8px 5px;
	background: #fff;
}
.datagrid .datagrid-toolbar {
	text-align: right;
}
.datagrid-btn-separator {
	border: 0;
}

/*datagrid下的toolbar----------start*/
.datagrid .datagrid-toolbar>a,
a.easyui-linkbutton.active {
	background: #407DD1;
	/* border-color: #407DD1; */
	border: 0;
	color: #fff;
}
.datagrid .datagrid-toolbar>a:hover,
a.easyui-linkbutton.active:hover {
	background: #62a5ff;
	color: #fff;
	border: 0;
}
.datagrid .datagrid-toolbar>a:active,
a.easyui-linkbutton.active:active {
	background: #62a5ff;
	color: #fff;
	border: 0;
	-moz-box-shadow: 1px 1px 1px #27518d inset;
	-webkit-box-shadow: 1px 1px 1px #27518d inset;
	box-shadow: 1px 1px 1px #27518d inset;
}
.breadCrumb a.easyui-linkbutton.active {
	height: 29px;
}
.datagrid .datagrid-toolbar>a:not(:last-child) {
	margin-right: 5px;
}
.datagrid .datagrid-toolbar > .btn_config_cols {
	margin-top: 0;
}
/*toolbar中的标题样式*/
.datagrid-toolbar>span {
	float: left;
	height: 25px !important;
	line-height: 27px;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

/*datagrid下的toolbar----------start*/
.tabs {
	border-width: 0;
}
.tabs li {
	margin: 0 10px -1px 0;
	padding-top: 4px;
}
.tabs li a.tabs-inner {
	-webkit-border-radius: 0;
	border-radius: 0;
}

/*tabs样式扩展*/




/*datagrid  toolbar样式（兼容修改现有未改toolbar的样式）---------------end*/





/*表格内容过滤样式*/
.datagrid-header,
.datagrid-htable,
.datagrid-header.expendFilter {
	overflow: hidden;
	height: 40px;
	border: 0;
}

.datagrid-header-inner {
	position: relative;
}
.expendFilterButton,
.datagrid-header-row.datagrid-filter-row {
	position: absolute;
	top: 0;
}

/*表格过滤样式-----------start*/
.datagrid-header-row.datagrid-filter-row{
	z-index: -1;
}
.expendFilter .datagrid-header-row.datagrid-filter-row{
	z-index:1;
	top:26px;
}
/*表格过滤样式-----------end*/

/*datagrid内容显示区域设置最小高度*/
.panel-noscroll.multipleDatagrid,
.panel-noscroll.multipleDatagrid .panel.datagrid {
	overflow-y: visible;
	width: auto;
}

.multipleDatagrid .datagrid-view,
.multipleDatagrid .datagrid-body,
.multipleDatagrid .datagrid-wrap {
	/*min-height: 100px;*/
	/*height: 100px !important;*/
}

/*表格title、center标题区域的样式*/
.panel-title {
	padding: 3px 0;
}

.layout-panel-west .layout-panel-center .panel-header,
.layout-panel-west .layout-panel-south .panel-header {
	padding: 5px;
}
.layout-panel-center .panel-header,
.layout-panel-south .panel-header {
	padding: 10px;
	background-color: #fff;
	color: #666;
}
.datagrid .panel-header {
	padding: 10px;
	background-color: #fff;
}

.datagrid .panel-title {
	color: #666;
}
/*空数据提示消息上内边距*/
.datagrid-empty {
	padding-top:20px;
}

/*表格空数据提示文字和表头文字颜色*/
.datagrid-header-rownumber,
.datagrid-pager {
	color: #999;
	background: #F5F6FA;
}

/*datagrid-view1背景色、表头鼠标移入样式*/
.datagrid-htable .datagrid-header-rownumber,
.datagrid-header-row td,
.datagrid-pager {
	background: #F5F6FA;
}

/*复选框上内边距*/
.datagrid-header-check,
.datagrid-cell-check {
	padding-top: 6px;
}

/*datagrid行标题样式*/
/*鼠标移入行背景色*/
.datagrid-row-over {
	background: #fff;
}
.datagrid-row-selected.datagrid-row-over {
	background: #cce2ff;
	color: inherit;
}

/*表格内容字体颜色,鼠标移入行字体*/
.datagrid-htable,
.datagrid-btable,
.datagrid-ftable{
	color: #333;
}

/*表格内容上下内边距*/
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
	padding: 0 4px;
}

/*去掉datagrid-view1下面td的背景色*/
.datagrid-td-rownumber {
	background: #fff;
}

/*去掉表格右边框*/
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
	border-width: 0 0 1px 0;
	border-right: 1px solid transparent;
}

/*去掉表格最后一行td的下边框*/
.datagrid-body tr:last-child td {
	border-right: 1px solid transparent;
}


.datagrid-body tr:not(.treegrid-tr-tree) td,
.datagrid-footer td {
	height: 40px;
}
/*datagrid相关样式======================end*/
/*tree相关样式======================start*/
/*west布局下的tree宽度设置*/
.tree {
	width: 100% !important;
}

.tree-node {
	padding: 1px 0;
}

.tree-folder {
    background: url(../img/folder-close.png) no-repeat center center;
    background-size: 90% 90%;
}

.tree-folder-open {
    background: url(../img/folder-open.png) no-repeat center center;
    background-size: 95% 95%;
}
.tree-file {
    background: url(../img/tree-file.png) no-repeat center center;
    background-size: 90% 80%;
}
/*tree相关样式======================end*/


/*表单元素============================start*/
/*表单元素下拉框、下拉树、文本框去倒角====================start*/
.textbox {
	border-radius: 0;
}
/*下拉框、下拉树、文本框去倒角====================end*/

/*不可填时文本框颜色*/
.textbox.textbox-readonly,
.textbox.textbox-readonly input[readonly],
.textbox.textbox-readonly.combo,
.textbox.textbox-readonly.combo input[readonly],
.textbox.textbox-readonly.combo.datebox,
.textbox.textbox-readonly.combo.datebox input[readonly],
.validatebox-readonly,
.textbox-disabled,
.activeCombo .textbox-disabled,
.activeCombo .textbox-disabled input.validatebox-readonly.validatebox-disabled,
.textbox-disabled input.validatebox-readonly.validatebox-disabled,
.textbox-disabled input:disabled,
.textbox-disabled a,
textarea:disabled,
input[data-options*="editable"] + span {
	background-color:#f5f5f5;
}

.activeCombo .validatebox-readonly,
.activeCombo .textbox.combo,
.datebox input[readonly],
.textbox.combo.datebox {
	background-color:#fff;
}

input[disabled] {
	cursor: no-drop;
}


.disabled-container {
	background: #ccc;
	cursor: no-drop;
}

/*文本框获取焦点样式*/
.textbox-focused {
	border-color: #407DD1;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* disabled样式  */

/*textbox下是按钮高度重置*/
.textbox .textbox-button-right,
.textbox .textbox-button-right:hover {
	height: 100% !important;
	background-color: #fff;
}

/*表单元素============================end*/

/*分页字体*/
.datagrid-pager.pagination table{
	font-size:12px;
}

/*menu样式扩展-----------start*/
/*datagrid选中行下的menu样式*/
.datagrid-row-selected .menu {
	background: none;
}

/*菜单样式扩展==============start*/
.menu {
	border-width: 0;
	color: #407DD1;
}
.menu-inline.menu {
	width: 40px !important;
	top: 8px !important;
}
.menu-text {
	padding-left: 20px;
}
.menu-line {
	border-left: none;
	border-right: none;
}
/*menu样式扩展-----------end*/

/*tooltip扩展-----------start*/
.tooltip {
	box-shadow: -1px 1px 5px #333;
	-webkit-box-shadow: -1px 1px 5px #333;
}
/*tooltip扩展-----------end*/
/*水电集团主题样式==================end*/

/* =================================================== */
/**
 * 响应1920像素的显示器
 */
@media screen and (min-width:1367px) and (max-width:1920px) {
	.datagrid-body tr:not(.treegrid-tr-tree) td, .datagrid-footer td {
		height: 48px;
	}
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                                  main-menu.css                              */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*水电集团ui左边树样式*/
/*一、二级菜单样式--------------start*/
/*收缩按钮样式*/
.collapseWest {
	padding: 8px 0;
}
.collapseWest>a {
	opacity: 0.8;
}

.collapseWest>a:hover {
	opacity: 1;
}

/*显示滚动条*/
#primaryMenu:hover::-webkit-scrollbar-thumb,
.datagrid-body::-webkit-scrollbar-thumb,
.easyui-layout::-webkit-scrollbar-thumb,
.panel.layout-panel.layout-panel-center::-webkit-scrollbar-thumb,
.centerContent.panel-body.layout-body::-webkit-scrollbar-thumb,
.panel-body::-webkit-scrollbar-thumb {
	background: #dcdcdc;
	border-radius: 5px;
}
#primaryMenu:hover::-webkit-scrollbar-track-piece,
.datagrid-body::-webkit-scrollbar-track-piece,
.easyui-layout::-webkit-scrollbar-track-piece,
.panel.layout-panel.layout-panel-center::-webkit-scrollbar-track-piece,
.centerContent.panel-body.layout-body::-webkit-scrollbar-track-piece,
.panel-body::-webkit-scrollbar-track-piece {
	background: #f0f0f0;
}

#primaryMenu,
#collapseAccordion {
	background: #333743;
}

/*手风琴内容样式*/
#primaryMenu .accordion,
#collapseAccordion.accordion,
.accordion .accordion-body {
	border-width: 0;
}

#primaryMenu .accordion,
#primaryMenu .panel-body {
	background: none;
	color: #fff;
	/*opacity: .8;*/
}
/*手风琴标题样式*/
#primaryMenu .accordion .accordion-header {
	padding: 10px 0 10px 23px;
	/*opacity: 0.7;*/
}

#primaryMenu .accordion-body > ul > li {
	padding: 10px 0 10px 40px;
	font-size: 14px;
	/*opacity: 0.7;*/
}
#primaryMenu .accordion .accordion-header,
#collapseAccordion.accordion {
	border-top-width: 0;
	border-bottom-width: 0;
	background: #41485B;
}
#primaryMenu .accordion .accordion-header:hover,
.collapseWest>a:hover {
	/*opacity: 1;*/
	background: rgba(98,106,126,.6);
}
.collapseWest>a.icon-kaishirenwu:hover {
	background: none;
}
#primaryMenu .accordion .accordion-header .panel-title,
#collapseAccordion.accordion .accordion-header .panel-title {
	font-size: 14px;
	color: RGBA(255,255,255,.7);
}
/*一、二级菜单样式--------------end*/

/*三级菜单样式--------------start*/
/*三级菜单抬头*/
.subMenuTitle {
	height: 48px;
	line-height: 48px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	background: #D9DEE4;
}

/*三级菜单样式--------------end*/
/*标题按钮*/
#primaryMenu .panel-tool {
	right: 50%;
}
.layout-expand-west .panel-tool {
	right: 22%;
}

/*手风琴菜单项选中样式*/
.item {
	color: RGB(255,255,255);
}
.item:hover, .item.active {
	/*	opacity: 1 !important;*/
	background-color: #407DD1;
	color: RGB(255,255,255);
}

.submenu #subMenuList .item,
.subMenu #subMenuList .item {
	color: #333;
}

.submenu #subMenuList .item:hover,
.subMenu #subMenuList .item:hover {
	background-color: #f3f5f8;
}

.submenu #subMenuList .item.active,
.subMenu #subMenuList .item.active {
	background-color: #fff;
}

/*west折叠区域下的手风琴样式*/
#collapseAccordion .item {
	padding-left: 5px;
	color: #fff;
}

/*三级主菜单颜色*/
.subMenu {
	background: #E2E7ED;
	overflow-x: hidden;
	border-right: 0;
}

.submenu #subMenuList>li,
.subMenu #subMenuList>li {
	padding: 5px 0;
}
.submenu #subMenuList>li.item.active,
.subMenu #subMenuList>li.item.active {
	/*background: none;*/
}
.subMenu #subMenuList>li:hover {
	color: #333;
}
.subMenu #subMenuList>li span:first-child {
	display: block;
	width: 100%;
	height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.subMenu #subMenuList>li .three-menu {
	padding-left: 40px;
	height: 30px;
	line-height: 30px;
}
.subMenu #subMenuList>li.active .three-menu {
	/*background: #fff;*/
	opacity: 1;
}

.subMenu #subMenuList>li ul {
	padding: 5px 0 0 45px;
}

.subMenu #subMenuList>li ul li:hover {
	color: rgb(64, 125, 211);
}

.subMenu #subMenuList>li ul li.active {
	color: rgb(64, 125, 211);
	background: none;
}

/*三级菜单折叠按钮*/
.subCollapse,.subExpand {
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 1000000;
	width: 0;
	height: 10px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.subCollapse {
	border-right: 11px solid #f7f7f7;
	border-left: 8px solid transparent;
	margin-right: -1px;
}

/*三级菜单折叠按钮点击状态*/
.subCollapse.subExpand {
	border-left: 11px solid #E2E7ED;
	border-right: 8px solid transparent;
	margin-right: -4px;
}

/*三级菜单折叠按钮点击状态*/
.subCollapse:hover {
	border-right: 11px solid #E2E7ED;
	border-left: 8px solid transparent;
}
.subCollapse.subExpand:hover{
	border-left: 11px solid #E2E7ED;
	border-right: 8px solid transparent;
}

.subCollapse>i,.subCollapse>a {
	position: relative;
	right: -3px;
	top: -4px;
	color: #8E9196;
	font-size: 16px;
	font-weight: bold;
}

.subCollapse.subExpand>i {
	right:9px;
}

.subCollapse:hover>i {
	color: #333;
}

/*三级菜单west区域收缩样式*/
#mainCenter .layout-expand-west {
	width: 15px !important;
	height: 100%;
	background: none;
}

/*去掉边框*/
#mainCenter .layout-expand-west .panel-body,
#mainCenter .layout-expand-west .panel-header {
	border-width: 0;
}
#mainCenter .layout-expand-west .panel-header {
	position: absolute;
	z-index: 9999;
	top: 50%;
	padding: 0;
}

#mainCenter .layout-expand-west .panel-tool {
	right: 22%;
}

/*去掉按钮背景*/
#mainCenter .layout-expand-west .panel-tool .layout-button-right {
	background: none;
}

/*layout相关样式======================start*/

/*accordion相关样式======================start*/
/*手风琴折叠按钮隐藏*/
.accordion-collapse,
.accordion-expand {
	background: none;
	opacity: 0;
}

.panel-tool .accordion-collapse:hover,
.panel-tool .accordion-expand:hover {
	opacity: 0;
}
/*accordion相关样式======================end*/

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                              common-project.css                             */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/**
 * Created by 黄华桥 on 2017/5/25.
 * 新版UI调整样式修改
 */
/*10px的内边距*/
.comm_pa10 {
	padding: 10px !important;
}

.comm_pa_lr10 {
	padding: 0 10px !important;
}
.comm_h10 {
	height: 5px;
}

/*fieldset样式*/
fieldset {
	border: 1px solid #aaa;
	padding-bottom: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}/*fieldset*/
legend {
	padding: 0 10px;
	margin-left: 10px;
}/*legend*/

/*datagrid滚动时north区域渐变动画*/
.layout-panel-north {
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s linear;
}

/*左边菜单树添加右边框*/
.comm_split_west_width0 .layout-panel-west {
	border-right: 1px solid #ddd;
}
.comm_split_west_width0 .layout-panel-east {
	border-left: 1px solid #ddd;
}

/* east区域的弹出层样式(默认隐藏) */
.east-popup {
	display: block;
	position: fixed;
	top: 0;
	/*right: -50%;*/
	/*width: 50%;*/
	height: 100%;
	background: #fff;
	overflow: visible !important;
	-webkit-transition: right .3s linear;
	transition: right .3s linear;
}

/*layout相关样式======================end*/

/*loading 动画===================start*/
.csshub-loading-layer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
}
.csshub-loading-tip-info {
	position: absolute;
	width: 100%;
	height: 26px;
	line-height: 26px;
	left: 0;
	top: 50%;
	margin-top: 25px;
	text-align: center;
}
.csshub-loading-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	overflow: hidden;
	background: transparent;
	text-align: center;
}
.csshub-loading {
	text-align: center
}
.csshub-loading>div {
	background-color: #14b9c7;
	width: 4px;
	height: 35px;
	border-radius: 2px;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block;
	-webkit-animation: csshub-line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
	animation: csshub-line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}
.csshub-loading>div:nth-child(2), .csshub-loading>div:nth-child(4) {
	-webkit-animation-delay: -0.4s !important;
	animation-delay: -0.4s !important;
}
.csshub-loading>div:nth-child(1), .csshub-loading>div:nth-child(5) {
	-webkit-animation-delay: -0.2s !important;
	animation-delay: -0.2s !important;
}

@-webkit-keyframes csshub-line-scale-pulse-out {
	0% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
	50% {
		-webkit-transform: scaley(0.4);
		transform: scaley(0.4);
	}
	100% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
}

@keyframes csshub-line-scale-pulse-out {
	0% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
	50% {
		-webkit-transform: scaley(0.4);
		transform: scaley(0.4);
	}
	100% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
}
/*loading 动画===================end*/

/*面包屑导航样式----------start*/
.breadCrumb {
	height: 39px;
	margin-bottom: 10px;
	padding-top: 4px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.breadCrumb>div {
	float: right;
	margin-top: -4px;
}
.breadCrumb>div:after {
	content: '';
	display: table;
	clear: both;
}
/*全局操作按钮样式*/
.breadCrumb>div a,
.breadCrumb .easyui-linkbutton {
	height: 29px;
	line-height: 29px;
	font-weight: normal;
	float: right;
	padding: 0 15px;
	margin-right: 10px;
}

/*面包屑导航下面内容样式*/
.breadCrumb>#navTitle {
	display: inline-block;
	position: relative;
	text-indent: 10px;
}
.breadCrumb>#navTitle:before {
	display: inline-block;
	content: "";
	width: 2px;
	height: 14px;
	margin-right: 10px;
	position: absolute;
	top: 3px;
	left: 1px;
	background: #407DD1;
}
.breadCrumb > .btn_config_cols.l-btn {
	margin-right: 10px;
	height: 29px;
}
/*面包屑导航样式----------end*/

/*搜索栏提示信息框------start*/
.comm_search_tooltip {
	padding: 8px;
	background: #F5F6FA;
	border: 1px solid #DCDCDC;
	margin-bottom: 10px;
}
.comm_search_tooltip>.frendlyWarn {
	color: #407DD1;
}
.comm_search_tooltip>.otherWarn {
	color: #999;
}
.comm_search_tooltip>.closeTooltip {
	font-size:20px;
	line-height: 12px;
	float: right;
	cursor: pointer;
}
/*搜索栏提示信息框------end*/

/*搜索栏设置按钮样式------start*/
.refresh{
	width: 27px;
	height: 27px;
	line-height: 28px;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #DCDCDC;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
	float: right;
}

.c_btn:hover {
	background: #fff;
}
.c_btn:active {
	background: #fff;
	-moz-box-shadow: 1px 1px 1px #999999 inset;
	-webkit-box-shadow: 1px 1px 1px #999999 inset;
	box-shadow: 1px 1px 1px #999999 inset;
}
/*搜索栏设置按钮样式------end*/

/* 页面头部按钮样式，如刷新、帮助 ------start */
.header-tool-btn {
	width: 27px;
	height: 27px;
	line-height: 28px;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #DCDCDC;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
	float: right;
	margin-right: 10px;
}
/* 页面头部按钮样式，如刷新、帮助 ------end */

/*搜索区域样式-------------start*/
.searchItem {
	/*margin-bottom: 10px;
	min-height: 40px;
	height: auto;*/
	padding-bottom: 9px;
	position: relative;
	min-height: 40px;
}
.searchItem:after {
	content: '';
	display: table;
	clear: both;
}

/*搜索区域form表单样式*/
form.comm-form {
	width: 100%;
}

/*按钮下的i标签样式*/
a.easyui-linkbutton .fa,
a.easyui-linkbutton .fa:before {
	width: 12px;
}

/*表单内的按钮样式*/
.searchItem form a.easyui-linkbutton:not(:first-child),
form.comm-form a.easyui-linkbutton:not(:first-child) {
	margin-left: 5px;
}

/* 高级搜索区域块备用样式（在当前普通搜索区域下面展示高级搜索区域）----------start */
.hideArea {
	display: block;
	position: fixed;
	left: 10px;
	padding: 15px 15px 15px 0;
	border: solid 1px #d7d7d7;
	box-sizing: border-box;
	background-color: #fff;
}

/* 块尖角样式*/
/* 高级搜索样式修改调整--------2017-09-11*/
/*.hideArea:after {
	content: "";
	display: block;
	position: absolute;
	right: 12px;
	top: -7px;
	width: 10px;
	height: 10px;
	border-left: solid 1px #d7d7d7;
	border-top: solid 1px #d7d7d7;
	background-color: #fff;
	transform: rotate(45deg);
}*/
/* 高级搜索区域块备用样式----------end */

/* 搜索区域高级搜索区域改版样式----modified by huanghuaqiao 2017-09-11 */
.advanceSearchItem .hideItem {
	display: none;
}

/* 高级搜索表单样式 */
.seniorBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: fixed;
	left: 10px;
	min-height: 128px;
	height: auto;
	padding: 15px 15px 15px 0;
	border: solid 1px #d7d7d7;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.3);
	box-shadow: 0 4px 5px rgba(0,0,0,.3);
	z-index: 9999999;
}

/* 高级搜索下的按钮组样式 */
.seniorBox .button-group {
	display: block;
	margin-top: 15px;
	text-align: center;
}

/* 高级搜索下的label样式 */
.seniorBox label,
.seniorBox.comm-form label {
	width: 105px !important;
}

.seniorBox.comm-form.comm-form div.comm_inlineb:first-child,
.seniorBox.comm-form div.comm_inlineb.first {
	padding-left: 5px;
}

/* 收起按钮样式 */
.tuchuBottom {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 20px;
	border: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
}

/* 高级搜索下的收起按钮样式 */
.seniorBox .tuchuBottom {
	left: 50%;
	bottom: -21px;
	margin-left: -40px;
	border-top: none;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.3);
	box-shadow: 0 4px 5px rgba(0,0,0,.3);
}

/* 弹出浮层下的收起按钮样式 */
.east-popup .tuchuBottom {
	left: -22px;
	top: 50%;
	margin-top: -30px;
	width: 20px;
	height: 78px;
	border-right: none;
	writing-mode: tb-rl;
	-webkit-box-shadow: -2px -1px 5px rgba(0,0,0,.3);
	box-shadow: -2px -1px 5px rgba(0,0,0,.3);
	/*-webkit-transform: rotate(-90deg);*/
	/*transform: rotate(-90deg);*/
}

/* 弹出浮层下的收起tool按钮样式*/
.east-popup .tuchuBottom .toggle-tool {
	position: absolute;
	left: 3px;
	top: 0;
	width: 16px;
	height: 16px;
}

form.comm-form div.comm_inlineb.comm_float_right {
	padding: 5px 0;
}

form.comm-form div.comm_inlineb {
	padding: 5px;
}

.searchItem form.comm-form div.comm_inlineb:first-child,
form.comm-form div.comm_inlineb.first {
	padding-left: 2px;
}

form.comm-form div.comm_inlineb:not(:last-child) {
	margin-right: 10px;
}

.comm-form label>i,
.searchItem form label>i {
	margin-right: 5px;
	color: #D93B25;
}

/*单选按钮*/
.comm-form label.radioLabel {
	width: 115px;
}

.comm-form label,
.searchItem form label {
	display: inline-block;
	/*width: 105px;*/
	width: auto !important;
	text-align: right;
	margin-right: 5px;
}

fieldset .searchItem form label {
	width: 105px !important;
}

fieldset .searchItem form.comm-form div.comm_inlineb:first-child {
	padding-left: 5px;
}

/*表格dataggrid样式--------------start*/
/*批量操作div*/
.dg-checkAllDiv,
.dg-checkAllDiv input,
.dg-checkAllDiv #multipuleOperate {
	height: 40px;
	line-height: 32px;
	margin-top: 2px;
}
/* 底部全选checkbox--------start */
.dg-checkAllDiv .bottom_cbox {
	display: inline-block;
	margin-top: 3px;
	margin-left: 27px;
	padding: 0;
	height: 30px;
	overflow: visible;
}
.dg-checkAllDiv .bottom_cbox input {
	height: 30px;
}
/* 底部全选checkbox--------end */

.dg-checkAllDiv a {
	color: #333;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	margin-top: 3px;
	margin-left: 5px;
	background: #f0f0f0;
	border: 1px solid #dcdcdc;
	cursor: pointer;
}
.dg-checkAllDiv a:hover {
	padding: 0 10px;
}
.dg-checkAllDiv a:not(:first-child) {
	margin-left: 5px;
}
/*  针对菜单按钮 Add by: chenlilang  */
.dg-checkAllDiv a.easyui-menubutton {
	margin-top: -1px;
}

/*datagrid头部的设置按钮样式*/
.panel-title .dgheaderButton,
.panel-title  a {
	margin-top: -7px;
	float: right;
	cursor: pointer;
	background: #f0f0f0;
	margin-right: 10px;
	border: 0;
}
.panel-title .dgheaderButton.active,
.panel-title  a.active {
	background: #407DD1;
	color: #fff;
}

.panel-title a.easyui-linkbutton:hover {
	background: #62a5ff;
	color: #fff;
	border: 0;
}

.panel-title a:active {
	background: #62a5ff;
	-moz-box-shadow: 1px 1px 1px #27518d inset;
	-webkit-box-shadow: 1px 1px 1px #27518d inset;
	box-shadow: 1px 1px 1px #27518d inset;
}

/*多表格datagrid设置最小高度*/
/*datagrid行内按钮样式*/
.dgbutton_disable {
	color: #999;
	text-decoration: underline;
}

/*操作按钮区域样式*/
.datagrid-view td[field="handle"] {
	text-align: center;
}

/* 禁用操作行数据样式 */
.datagrid-row.datagrid-row-disabled,
.datagrid-row.datagrid-row-disabled td>div.datagrid-cell a {
	color: #ddd;
}

.datagrid-row td[field="handle"]>div.datagrid-cell {
	padding: 0 4px;
	overflow: visible;
}

/* datagrid行内按钮样式 */
.datagrid-row td>div.datagrid-cell .dgbutton_disable {
	color: #999;
	text-decoration: underline;
}

.datagrid-row td>div.datagrid-cell a {
	color: #407DD1 !important;
	cursor: pointer;
}
.datagrid-row td>div.datagrid-cell a:not(:last-child) {
	margin-right: 10px;
}
/*选中项操作区域按钮样式*/
.datagrid-row.datagrid-row-selected td>div.datagrid-cell a {
	color: #407DD1 !important;
}
.datagrid-row.datagrid-row-selected td>div.datagrid-cell .dgbutton_disable {
	color: #ddd !important;
}

/*表格行内操作按钮*/
.datagrid-view td[field="handle"] .moreHandle {
	display: inline-block;
	position: relative;
	width: 50px;
	text-align: left;
	cursor: pointer;
	color: #407DD1;
}

/*选中行行内操作按钮样式*/
.datagrid-view .datagrid-row-selected td[field="handle"] .moreHandle{
	/*color: #D8EAF1;*/
}

.datagrid-view td[field="handle"] .moreHandle .menubutton {
	display: none;
	position: absolute;
	z-index: 9999999999;
	right: 0;
	border: 1px solid #40bcf1;
	background-color: #fff;
	top: 22px;
}
.datagrid-view td[field="handle"] .moreHandle .menubutton li {
	color: #407DD1;
	padding: 5px 10px;
}
.datagrid-view td[field="handle"] .moreHandle .menubutton li:hover {
	background: #c7eaf9;
}
/*表格dataggrid样式--------------end*/

/*toast提示框样式===================start*/
.comm_toast_body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.comm_toast_success,.comm_toast_danger,.comm_toast_warning {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	max-width: 300px;
	line-height: 20px;
	padding: 15px;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comm_toast_success{
	border: 1px solid #b1f0a3;
	color: #468847;
	background-color: #c7f0bf;
}

.comm_toast_danger {
	border: 1px solid #ebccd1;
	color: #b94a48;
	background-color: #f2dede;
}

.comm_toast_warning {
	border: 1px solid #ff7d00;
	color: #b94a48;
	background-color: #F9F900;
}
/*toast提示框样式===================end*/

/*滚动条样式重写（适用于谷歌浏览器，赞未做其他浏览器兼容）------start*/
/*滚动条宽高*/
/*::-webkit-scrollbar*/
/*滚动条上下button*/
::-webkit-scrollbar-button{
	width: 0;
	height: 0;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/*纵向滚动条上方按钮*/
::-webkit-scrollbar-button:vertical:single-button:start{
	background: url('../../easyui/themes/material/images/menu_arrows.png') no-repeat -3px -4px;
	/*background-size: 70% 40%;*/
}

/*纵向滚动条下方按钮*/
::-webkit-scrollbar-button:vertical:single-button:end{
	background: url('../../easyui/themes/material/images/menu_arrows.png') no-repeat -19px -4px;
}
/*横向滚动条左方按钮*/
::-webkit-scrollbar-button:horizontal:single-button:start{
	background: url('../../easyui/themes/material/images/menu_arrows.png') no-repeat -35px -4px;
	/*background-size: 70% 40%;*/
}
/*横向滚动条右方按钮*/
::-webkit-scrollbar-button:horizontal:single-button:end{
	background: url('../../easyui/themes/material/images/menu_arrows.png') no-repeat -51px -4px;
}
/*箭头与滚动条接触区域*/
::-webkit-scrollbar-track     {
	background:#f0f0f0;
}
/*滚动条背景图*/
::-webkit-scrollbar-track-piece {
	background: transparent;
}
/*滚动条区域*/
::-webkit-scrollbar-thumb{
	background: transparent;
	border-radius: 0;
}
::-webkit-scrollbar-thumb:hover{
	background: #d1d1d1;
}

/*::-webkit-scrollbar-corner {
    background:#f00;
}
::-webkit-scrollbar-resizer {
    background:#FF0BEE;
}*/
/*滚动条样式重写（适用于谷歌浏览器，暂未做其他浏览器兼容）------end*/

/*响应式处理(最大宽度为1280px时)==============start*/




@media screen and (max-width: 1280px) {
	/*面包屑导航样式----------start*/
	/*	.breadCrumb {
            height: 39px;
        }*/
	/*面包屑导航下面内容样式*/
	/*	.breadCrumb>#navTitle {
            margin-top: 0;
        }*/
	/*面包屑导航样式----------end*/
}

/* datagrid左下角菜单按钮 */
.icon-gengduo::before {
	font-size: 13px;
	color: #407DD1;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                          assets/exp-easyui.css                              */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/**
 * Created by chenlilang on 2017/10/11.
 * 该样式文件为电网生产的扩展样式， 主要针对适配电网营销的标准规范所产生的不一致；
 * 需要扩展达到一致
 */


/*重写tree相关样式======================start*/
.tree-folder {
	background: url(../img/folder-close.png) no-repeat center center;
	background-size: 90% 90%;
}

.tree-folder-open {
	background: url(../img/folder-open.png) no-repeat center center;
	background-size: 95% 95%;
}
.tree-file {
	background: url(../img/tree-file.png) no-repeat center center;
	background-size: 90% 80%;
}
/*重写tree相关样式======================end*/

/*重写菜单导航相关样式======================start*/
ul#subMenuList {
	padding-top: 0;
}
/*重写菜单导航相关样式======================end*/

/*重写搜索区域相关样式======================start*/
.seniorBox {
	left: 0;
}
/*重写搜索区域相关样式======================end*/

.pagination-page-list,
.pagination .pagination-num,
.pagination .pagination-link.l-btn-plain {
	margin-bottom: 3px;
}
.pagination .pagination-num {
	height: 18px;
}

/* 表头鼠标悬浮效果 */
.datagrid-view2 .datagrid-header td:not([field='ck']):not([field='_ck']):hover {
	/*    border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;*/
}

/* 重写搜索图标 */
.icon-search {
	background: url(../img/search-icon.png) no-repeat center center;
	background-size: 80%;
}

/* 重写在 panel 中表头的图标按钮与其它地方样式相同 */
.panel-title .easyui-linkbutton.icon-btn {
	border: 1px solid #d9d9d9;
	color: #3c3c3c;
	background-color: #f0f0f0;
}

.panel-title .easyui-linkbutton.icon-btn:hover {
	border: 1px solid #d9d9d9;
	color: #404040;
	background-color: #fff;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                          assets/exp-common.css                              */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/* 定制业务图标 */
.ico-dept{
	background: url('../img/dept.png') no-repeat;
}
.ico-person{
	background: url('../img/person.png') no-repeat;
}
.treefolder{
	background: url('../img/tree_icons.png') no-repeat -208px 0;
}
.treefolderopen {
	background: url('../img/tree_icons.png') no-repeat -224px 0;
}
.dydj{
	background: url('../img/dianyadengji.png') no-repeat;
}
.bdz{
	background: url('../img/biandianzhan.png') no-repeat;
}
.jgdy{
	background: url('../img/jiangedanyuan.png') no-repeat;
}
.zbyq{
	background: url('../img/zhubianyaqi.png') no-repeat;
}
.dlq{
	background: url('../img/duanluqi.png') no-repeat;
}
.glkg{
	background: url('../img/gelikaiguan.png') no-repeat;
}
.fhkg{
	background: url('../img/fuhekaiguan.png') no-repeat;
}
.rdq{
	background: url('../img/rongduanqi.png') no-repeat;
}
.dkq{
	background: url('../img/diankangqi.png') no-repeat;
}
.mx{
	background: url('../img/muxian.png') no-repeat;
}
.dlhgq{
	background: url('../img/dianliuhuganqi.png') no-repeat;
}
.dyhgq{
	background: url('../img/dianyahuganqi.png') no-repeat;
}
.zhhgq{
	background: url('../img/zuhehuganqi.png') no-repeat;
}
.dldrq{
	background: url('../img/dianlidianrongqi.png') no-repeat;
}
.blq{
	background: url('../img/bileiqi.png') no-repeat;
}
.jiakongxianlu{
	background: url('../img/jiakongxianlu.png') no-repeat;
}
.dianlanxianlu{
	background: url('../img/dianlanxianlu.png') no-repeat;
}
.ganta{
	background: url('../img/ganta.png') no-repeat;
}
.daoxian{
	background: url('../img/daoxian.png') no-repeat;
}
.dixian{
	background: url('../img/dixian.png') no-repeat;
}
.dianlanduan{
	background: url('../img/dianlanduan.png') no-repeat;
}
.dianlanjietou{
	background: url('../img/dianlanjietou.png') no-repeat;
}
.dianlanzhongduan{
	background: url('../img/dianlanzhongduan.png') no-repeat;
}
.zsbyq{
	background: url('../img/zssb/zhushangbianyaqi.png') no-repeat;
}
.zschq{
	background: url('../img/zssb/zhushangchongheqi.png') no-repeat;
}
.zsdrq{
	background: url('../img/zssb/zhushangdianrongqi.png') no-repeat;
}
.zsdlq{
	background: url('../img/zssb/zhushangduanluqi.png') no-repeat;
}
.zsfdq{
	background: url('../img/zssb/zhushangfenduanqi.png') no-repeat;
}
.zsfhkg{
	background: url('../img/zssb/zhushangfuhekaiguan.png') no-repeat;
}
.zsglkg{
	background: url('../img/zssb/zhushanggelikaiguan.png') no-repeat;
}
.zsrdq{
	background: url('../img/zssb/zhushangrongduanqi.png') no-repeat;
}
.dlhgq{
	background: url('../img/zssb/dianliuhuganqi.png') no-repeat;
}
.dyhgq{
	background: url('../img/zssb/dianyahuganqi.png') no-repeat;
}
.zhhgq{
	background: url('../img/zssb/zuhehuganqi.png') no-repeat;
}
.xlblq{
	background: url('../img/zssb/xianlubileiqi.png') no-repeat;
}
.gzzsq{
	background: url('../img/zssb/guzhangzhishiqi.png') no-repeat;
}
.pdzf{
	background: url('../img/peidianzhanfang.png') no-repeat;
}
.zxjczz{
	background: url('../img/zxjczz.png') no-repeat;
}
.dljdx{
	background: url('../img/dianlanjiedixiang.png') no-repeat;
}
.dljchlx{
	background: url('../img/dianlanjiaochahulianxiang.png') no-repeat;
}
.xitong{
	background: url('../img/xitong.png') no-repeat;
}
.syb{
	background: url('../img/suoyongbian.png') no-repeat;
}
.jyz{
	background: url('../img/xianlujueyuanzi.png') no-repeat;
}
.guanglan{
	background: url('../img/guanglan.png') no-repeat;
}
.sdsbgy{
	background: url('../img/sdsbgy.png') no-repeat;
}

/* 定制表单相关样式 */
/* form fieldset {
    padding:5px;
	margin:5px;
	color:#333;
	border:#06c dashed 1px;
	cursor: pointer;
}
form fieldset legend {
    color:#06c;
	font-weight:800;
	background:#fff;
}
form.comm-form div.comm_inlineb {
	padding:3px;
}
form .panel .panel-header{
	height: 32px;
	background-color: #f5f6fa;
	border-bottom: none;
}
form .panel .panel-header .panel-title{
	padding: 8px 0 8px 20px;
	color:#333;
	font-size: 12px;
	font-weight: normal;
} */

/* 定制tabs标签相关样式 */
.tabs{
	padding-left: 0;
	height: 32px !important;
}
.tabs-header{
	background-color: #fff;
	padding: 0;
}
.tabs li{
	padding-top: 0;
	margin-right: 0;
	height: 100% !important;
}
.tabs li a.tabs-inner{
	display: inline-block;
	height: 100% !important;
	line-height: 1;
	padding: 0 15px;
	text-align: center;
	background-color: #f0f0f0;
	color:#666;
	border-left:none;
	border-color:#dcdcdc
}
.tabs li.tabs-selected a.tabs-inner{
	font-weight: normal;
	color:#333;
	border-top-color:#407dd1;
	border-bottom:none
}

/* form下面的面板title样式重写 */
form.comm-form .panel .panel-header {
	padding: 0;
}
form.comm-form .panel .panel-header .panel-title {
	padding: 10px;
}
form.comm-form .panel .panel-header {
	cursor: pointer;
}

/* tree样式重写 */
.tree-node-selected {
	width: auto;
}

/* 定制span标签相关样式 */
/* span.textbox-readonly{
	opacity: 0.6;
}
span.textbox-readonly .validatebox-readonly{
	background-color:rgb(235, 235, 228);
} */

/* 定制树的相关样式 */
/* .tree{
    display: inline-block;
} */

/* 定制其他样式 */
/* .hide {
	display: none;
}
.panel-header{
	padding: 0;
}
/*.layout-panel-center .panel-header{
	padding: 0;
}*/

/* 业务自定义样式 */
/* .sbtz-link-btn {
	width: 32%;
	margin-left: 1px;
}
.sbtz-link-t-btn {
	width: 65%;
	margin-left: 1px;
}
.bd .panel>.panel-header,.bd .panel>.panel-body,.bd .easyui-layout {
	width: auto !important;
}
.bd-link {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
.ver-div {
	position: absolute;
    top: 7px;
    z-index: 9999;
    right: 0;
    color: #808081;
    font-weight: bolder;
}
.ver-bak {
	height: 17px;
    width: 150px;
    opacity: 0.4;
}
.ver-text {
	position: absolute;
    top: 0px;
    margin-left: 12px;
} */
.qrImg{
	display: inline-block !important;
}
.red-yd {
	color: red;
}
.gray-yd {
	color: #B2B2B2;
}
.dialog-button .l-btn {
	padding: 0 !important;
	background: #407DD1 !important;
	color: #fff !important;
	outline-style: none !important;
}

/* @author qust 2018/4/19 14:53 */
.form_extwid{
	width: 180px;
	height: 28px;
	border: 1px solid #CCCCCC;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                                 default.css                                 */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/* sample base style */
body {
	margin:0;
	padding:0;
}

.mapClass{
	position: absolute;
	top:0;
	bottom:0;
	right:0;left:0;
}

/**电力符号**/
.ele_div{
	width: 203px;
	display: block;
	height: 150px;
	right: 10px;
	top: 17px;
	border: 1px solid #cdcdcd;
	z-index: 1000;
	position: absolute;
	/* width: 100%; */
	/* height: 100%; */
	background: #f0f0f0;
	overflow: hidden;
}

.ele_title{
	border-bottom: 1px solid #dadada;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #4c4c4c;
	padding-left: 7px;
}

.symbol_div{
	width: 180px;
	display: block;
	/*height: 280px;*/
	right: 10px;
	top: 17px;
	border: 1px solid #cdcdcd;
	z-index: 1000;
	position: absolute;
	/* width: 100%; */
	/* height: 100%; */
	background: #f0f0f0;
	overflow: hidden;
}

.draw_div{
	width: 180px;
	display: block;
	height: 350px;
	right: 10px;
	top: 17px;
	border: 1px solid #cdcdcd;
	z-index: 1000;
	position: absolute;
	/* width: 100%; */
	/* height: 100%; */
	background: #f0f0f0;
	overflow: hidden;
}