/**
 * Created by chenlilang on 2017/10/11.
 * 该样式文件为电网生产的扩展样式， 主要针对适配电网营销的标准规范所产生的不一致；
 * 需要扩展达到一致
 */


/*重写tree相关样式======================start*/
.tree-folder {
    background: url(../img/folder-close.png) no-repeat center center;
    background-size: 90% 90%;
}

.tree-folder-open {
    background: url(../img/folder-open.png) no-repeat center center;
    background-size: 95% 95%;
}
.tree-file {
    background: url(../img/tree-file.png) no-repeat center center;
    background-size: 90% 80%;
}
/*重写tree相关样式======================end*/

/*重写菜单导航相关样式======================start*/
ul#subMenuList {
    padding-top: 0;
}
/*重写菜单导航相关样式======================end*/

/*重写搜索区域相关样式======================start*/
.seniorBox {
	left: 0;
}
/*重写搜索区域相关样式======================end*/

.pagination-page-list,
.pagination .pagination-num, 
.pagination .pagination-link.l-btn-plain {
    margin-bottom: 3px;
}
.pagination .pagination-num {
    height: 18px;
}

/* 表头鼠标悬浮效果 */
.datagrid-view2 .datagrid-header td:not([field='ck']):not([field='_ck']):hover {
/*    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
}

/* 重写搜索图标 */
.icon-search {
    background: url(../img/search-icon.png) no-repeat center center;
    background-size: 80%;
}

/* 重写在 panel 中表头的图标按钮与其它地方样式相同 */
.panel-title .easyui-linkbutton.icon-btn {
    border: 1px solid #d9d9d9;
    color: #3c3c3c;
    background-color: #f0f0f0;
}

.panel-title .easyui-linkbutton.icon-btn:hover {
    border: 1px solid #d9d9d9;    
    color: #404040;
    background-color: #fff;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                          assets/exp-common.css                              */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/* 定制业务图标 */
.ico-dept{
    background: url('../img/dept.png') no-repeat;
}
.ico-person{
    background: url('../img/person.png') no-repeat;
}
.treefolder{
    background: url('../img/tree_icons.png') no-repeat -208px 0;
}
.treefolderopen {
    background: url('../img/tree_icons.png') no-repeat -224px 0;
}
.dydj{
    background: url('../img/dianyadengji.png') no-repeat;
}
.bdz{
    background: url('../img/biandianzhan.png') no-repeat;
}
.jgdy{
    background: url('../img/jiangedanyuan.png') no-repeat;
}
.zbyq{
    background: url('../img/zhubianyaqi.png') no-repeat;
}
.dlq{
    background: url('../img/duanluqi.png') no-repeat;
}
.glkg{
    background: url('../img/gelikaiguan.png') no-repeat;
}
.fhkg{
    background: url('../img/fuhekaiguan.png') no-repeat;
}
.rdq{
    background: url('../img/rongduanqi.png') no-repeat;
}
.dkq{
    background: url('../img/diankangqi.png') no-repeat;
}
.mx{
    background: url('../img/muxian.png') no-repeat;
}
.dlhgq{
    background: url('../img/dianliuhuganqi.png') no-repeat;
}
.dyhgq{
    background: url('../img/dianyahuganqi.png') no-repeat;
}
.zhhgq{
    background: url('../img/zuhehuganqi.png') no-repeat;
}
.dldrq{
    background: url('../img/dianlidianrongqi.png') no-repeat;
}
.blq{
    background: url('../img/bileiqi.png') no-repeat;
}
.jiakongxianlu{
    background: url('../img/jiakongxianlu.png') no-repeat;
}
.dianlanxianlu{
    background: url('../img/dianlanxianlu.png') no-repeat;
}
.ganta{
    background: url('../img/ganta.png') no-repeat;
}
.daoxian{
    background: url('../img/daoxian.png') no-repeat;
}
.dixian{
    background: url('../img/dixian.png') no-repeat;
}
.dianlanduan{
    background: url('../img/dianlanduan.png') no-repeat;
}
.dianlanjietou{
    background: url('../img/dianlanjietou.png') no-repeat;
}
.dianlanzhongduan{
    background: url('../img/dianlanzhongduan.png') no-repeat;
}
.zsbyq{
    background: url('../img/zssb/zhushangbianyaqi.png') no-repeat;
}
.zschq{
    background: url('../img/zssb/zhushangchongheqi.png') no-repeat;
}
.zsdrq{
    background: url('../img/zssb/zhushangdianrongqi.png') no-repeat;
}
.zsdlq{
    background: url('../img/zssb/zhushangduanluqi.png') no-repeat;
}
.zsfdq{
    background: url('../img/zssb/zhushangfenduanqi.png') no-repeat;
}
.zsfhkg{
    background: url('../img/zssb/zhushangfuhekaiguan.png') no-repeat;
}
.zsglkg{
    background: url('../img/zssb/zhushanggelikaiguan.png') no-repeat;
}
.zsrdq{
    background: url('../img/zssb/zhushangrongduanqi.png') no-repeat;
}
.dlhgq{
    background: url('../img/zssb/dianliuhuganqi.png') no-repeat;
}
.dyhgq{
    background: url('../img/zssb/dianyahuganqi.png') no-repeat;
}
.zhhgq{
    background: url('../img/zssb/zuhehuganqi.png') no-repeat;
}
.xlblq{
    background: url('../img/zssb/xianlubileiqi.png') no-repeat;
}
.gzzsq{
    background: url('../img/zssb/guzhangzhishiqi.png') no-repeat;
}
.pdzf{
    background: url('../img/peidianzhanfang.png') no-repeat;
}
.zxjczz{
    background: url('../img/zxjczz.png') no-repeat;
}
.dljdx{
    background: url('../img/dianlanjiedixiang.png') no-repeat;
}
.dljchlx{
    background: url('../img/dianlanjiaochahulianxiang.png') no-repeat;
}
.xitong{
    background: url('../img/xitong.png') no-repeat;
}
.syb{
    background: url('../img/suoyongbian.png') no-repeat;
}
.jyz{
    background: url('../img/xianlujueyuanzi.png') no-repeat;
}
.guanglan{
    background: url('../img/guanglan.png') no-repeat;
}
.sdsbgy{
    background: url('../img/sdsbgy.png') no-repeat;
}

/* 定制表单相关样式 */
/* form fieldset {
    padding:5px;
	margin:5px;
	color:#333;
	border:#06c dashed 1px;
	cursor: pointer;
}
form fieldset legend {
    color:#06c;
	font-weight:800;
	background:#fff;
}
form.comm-form div.comm_inlineb {
	padding:3px;
}
form .panel .panel-header{
	height: 32px;
	background-color: #f5f6fa;
	border-bottom: none;
}
form .panel .panel-header .panel-title{
	padding: 8px 0 8px 20px;
	color:#333;
	font-size: 12px;
	font-weight: normal;
} */

/* 定制tabs标签相关样式 */
.tabs{
    padding-left: 0;
    height: 32px !important;
}
.tabs-header{
    background-color: #fff;
    padding: 0;
}
.tabs li{
    padding-top: 0;
    margin-right: 0;
    height: 100% !important;
}
.tabs li a.tabs-inner{
    display: inline-block;
    height: 100% !important;
    line-height: 1;
    padding: 0 15px;
    text-align: center;
    background-color: #f0f0f0;
    color:#666;
    border-left:none;
    border-color:#dcdcdc
}
.tabs li.tabs-selected a.tabs-inner{
    font-weight: normal;
    color:#333;
    border-top-color:#407dd1;
    border-bottom:none
}

/* form下面的面板title样式重写 */
form.comm-form .panel .panel-header {
    padding: 0;
}
form.comm-form .panel .panel-header .panel-title {
    padding: 10px;
}
form.comm-form .panel .panel-header {
    cursor: pointer;
}

/* tree样式重写 */
.tree-node-selected {
    width: auto;
}

/* 定制span标签相关样式 */
/* span.textbox-readonly{
	opacity: 0.6;
}
span.textbox-readonly .validatebox-readonly{
	background-color:rgb(235, 235, 228);
} */

/* 定制树的相关样式 */
/* .tree{
    display: inline-block;
} */

/* 定制其他样式 */
/* .hide {
	display: none;
}
.panel-header{
	padding: 0;
}
/*.layout-panel-center .panel-header{
	padding: 0;
}*/

/* 业务自定义样式 */
/* .sbtz-link-btn {
	width: 32%;
	margin-left: 1px;
}
.sbtz-link-t-btn {
	width: 65%;
	margin-left: 1px;
}
.bd .panel>.panel-header,.bd .panel>.panel-body,.bd .easyui-layout {
	width: auto !important;
}
.bd-link {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
.ver-div {
	position: absolute;
    top: 7px;
    z-index: 9999;
    right: 0;
    color: #808081;
    font-weight: bolder;
}
.ver-bak {
	height: 17px;
    width: 150px;
    opacity: 0.4;
}
.ver-text {
	position: absolute;
    top: 0px;
    margin-left: 12px;
} */
.qrImg{
    display: inline-block !important;
}
.red-yd {
    color: red;
}
.gray-yd {
    color: #B2B2B2;
}
.dialog-button .l-btn {
    padding: 0 !important;
    background: #407DD1 !important;
    color: #fff !important;
    outline-style: none !important;
}

/* @author qust 2018/4/19 14:53 */
.form_extwid{
    width: 180px;
    height: 28px;
    border: 1px solid #CCCCCC;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*                                 default.css                                 */
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/* sample base style */
body {
    margin:0;
    padding:0;
}

.mapClass{
    position: absolute;
    top:0;
    bottom:0;
    right:0;left:0;
}

/**电力符号**/
.ele_div{
    width: 203px;
    display: block;
    height: 150px;
    right: 10px;
    top: 17px;
    border: 1px solid #cdcdcd;
    z-index: 1000;
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    background: #f0f0f0;
    overflow: hidden;
}

.ele_title{
    border-bottom: 1px solid #dadada;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #4c4c4c;
    padding-left: 7px;
}

.symbol_div{
    width: 180px;
    display: block;
    /*height: 280px;*/
    right: 10px;
    top: 17px;
    border: 1px solid #cdcdcd;
    z-index: 1000;
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    background: #f0f0f0;
    overflow: hidden;
}

.draw_div{
    width: 180px;
    display: block;
    height: 350px;
    right: 10px;
    top: 17px;
    border: 1px solid #cdcdcd;
    z-index: 1000;
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    background: #f0f0f0;
    overflow: hidden;
}